body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  min-width: 40%;
  margin: auto;
  height: 100vh;
}

.form {
  box-shadow: 5px 5px 5px 5px gray;
  border-radius: 3%;
  height: 400px;
  width: 300px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background-color: green;
}

h1 {
  font-family: sans-serif;
  line-height: 16px;
}

p {
  font-size: 16px;
  line-height: 17px;
}

.new {
  font-size: 17px;
}

.input {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  padding: 10px;
}

.forgot {
  line-height: 15px;
}

.remember {
  font-size: 16px;
  margin-left: 6px;
  color: yellow;
}

.remember label {
  order: 1;
}

.checkbox {
  display: flex;
}

button {
  background-color: rgb(10, 10, 10);
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  padding-top: 3.5px;
  display: flex;
  align-items: center;
}

.social {
  display: flex;
  align-items: space-around;
  gap: 3em;
  color: rgb(57, 29, 34);
}
